<div class="page-layout">
    <div class="colored-section"></div>
    <div class="white-section">
     
      <div class="card">
          <div class = "dp-circle">
            <img src="assets/Ali.jpg" alt="Profile Picture" class="img-fluid rounded-circle"/>
          </div>
          <div class="name">
            <span>Ali</span>
            <span>Hamza</span>
          </div>
          <div class="divider"></div>
          <div class="designation">
            <span>Software Developer</span>
          </div>
          <div class="social-media-strip">
            <a href="https://github.com/Djali9919" target="_blank">
              <i class="bi bi-github social-icon"></i>
            </a>
            <a href="https://www.linkedin.com/in/ali-hamza-935940184/" target="_blank">
              <i class="bi bi-linkedin social-icon"></i>
            </a>
            <a href="https://x.com/GeekyHamza" target="_blank">
              <i class="bi bi-twitter social-icon"></i>
            </a>
          </div>
      </div>
      <div class="about-container">
        <h1 class="about-heading">Greatings!</h1>
        <h2 class="designation-heading">Here's who I am and what I do!</h2>
        <p class="about-paragraph">
          Hi, I'm Ali Hamza, a passionate software developer with expertise in Spring Boot, Angular, and Azure Cloud. 
          I love creating scalable web applications and learning new technologies. 
          In my free time, I enjoy contributing to open-source projects and exploring the latest in tech.
        </p>
      </div>
    </div>
  </div>
  